.grid {
    width:680px;
    height:512px;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform:translate(-50%);

}
.article-one {
    width:200px;
    height:226px;
    background-color: rgba(128, 128, 128, 0.3);
    position:absolute;
    left:20px;
    top: 20px;
}
.picture {
    width:130px;
    height:130px;
    border: 1px solid gray;
    position:absolute;
    left:50%;
    transform:translate(-65px);
}
.imagetext {
    width: 39px;
    height: 18px;
    position: absolute;
    left: 81px;
    top: 56px;
}
.imagetext::before {
    content:'image';
    color: white;
}
.title {
    width:99%;
    height: 22px;
    border: 1px solid black;
    position:absolute;
    top:140px;
    text-align:center;
    font-weight:bold;
    
}
